.btn {
    background-color: transparent;
    padding: 13px 27px;
    border: 1px solid #B3BAC1;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #122947;
}