@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/logo";
@import "_blocks/header";
@import "_blocks/button";
@import "_blocks/socials";
@import "_blocks/slide";
@import "_blocks/recent";

.container {
  max-width: 85%;
  margin: auto;
}

.nav-list {
  display: flex;
  justify-content: right;
  gap: 35px;
  &__list-item__link {
    color: $color-text;
    font-size: 16px;
    line-height: 23px;
  }
}

.svg-wrap {
  display: flex;
  margin-left: 15px;
  gap: 30px;
}


.heading-section {
  background-image: url(/img/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 7.5%;
  &__cards-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 6% 130px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    &--h1 {
      align-items: center;
      text-align: center;
      padding: 60px 48px 0;
      & > p {
        margin-top: 30px;
        margin-bottom: 40px;
      }
    }
    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.bestsellers {
  display: flex;
  flex-direction: column;
  padding-left: calc((100vw - 84.26%) / 2);
  &__wrapper{
    padding: 140px 0 0 0;
    display: flex;
    gap: 86px;
    overflow: hidden;
  }
  &__description {
    max-width: 214px;
    &__text {
      margin: 30px 0 40px;
    }
  }
  &__slider {
    // display: flex;
    overflow: hidden;
    max-width: 100%;
    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 100%;
    }
    &-button {
      width: 26px;
      height: 12px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

.arrow {
  width: 26px;
  height: 12px;
  display: inline;
  &-wrap {
    align-self: flex-end;
    padding: 25px 0 140px 0;
    display: flex;
    gap: 32px;
    margin-right: calc(((100vw - 84.26%) / 2) - 214px);
  }
}

.new-collection {
  background-image: url(/img/images/banner.png);
  background-repeat: no-repeat;
  background-size: 100% 400px;
  min-height: 400px;
  &__wrap {
    padding-left: 52%;
    padding-top: 81px;
    &>h2 {
      max-width: 280px;
      margin-bottom: 30px;
    }
    &>p {
      max-width: 284px;
      margin-bottom: 40px;
    }
  }
}

.individual-care {
  padding: 140px 0;
  // display: flex;
  position: relative;
  &__text-wrap {
    background-color: #F4F1ED;
    max-width: 670px;
    padding: 100px;
    &>h2 {
      margin-bottom: 40px;
    }
    &>p {
      max-width: 327px;
      margin-bottom: 20px;
    }
    &>button {
      margin-top: 25px;
    }
  }
  &__img {
    position: absolute;
    top: 226px;
    left: 500px;
  }
}

.company-history {
  background-image: url(/img/images/banner_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 433px;
  &__wrap {
    padding: 120px 201px;
    text-align: center;
    &>h2 {
      max-width: 800px;
      margin-bottom: 50px;
    }
  }
}

.subscribe-section {
  display: flex;
  gap: 71px;
  align-items: center;
  padding: 140px 0 140px;
  &__img-wrap {
    display: grid;
  }
  &__text-wrap {
    & > h2 {
      max-width: 366px;
    }
    & > p {
      max-width: 381px;
      margin-bottom: 40px;
    }
  }
}

.grid-box {
  width: 233px;
  height: 233px;
  &--one {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  &--two {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  &--three {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  &--four {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  &--five {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  &--six {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

.contacts {
  padding-bottom: 140px;
  &__text-wrap {
    max-width: 670px;
    padding: 100px;
    background-color: #F4F1ED;
    position: relative;
    & > h2 {
      margin-bottom: 40px;
    }
    & > span {
      font-weight: 600;
    }
    & > a {
      color: $color-text;
      display: inline-block;
      margin-top: 10px;
    }
  }
  &__map {
    position: absolute;
    top: 12%;
    left: 400px;
  }
}

address {
  font-style: normal;
  max-width: 256px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.tel, .email {
  margin-bottom: 35px;
}

//CATALOG STYLES

.filter-section {
  margin-top: 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 53px;
}

.catalog {
  position: relative;
}

.big-slider {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-bottom: 65px;
  &__arrow-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding-bottom: 5px;
    &>button {
      margin-left: 32px;
    }
  }
  &__item {
    position: relative;
    &__description {
      width: 100%;
      padding-bottom: 20px;
      position: absolute;
      bottom: 0;
      font-size: 13px;
    }
    &__name-and-price, &__type-and-volume {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      &>a {
        color: inherit;
      }
    }
    &__name-and-price {
      font-weight: 500;
      &>a>span {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
      }
    }
    &__type-and-volume {
      color: #9A9DA0;
    }
  }
}

.big-slider__slide {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  justify-content: space-between;
  gap: 30px;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  gap: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-bottom: 163px;
  &__name {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 30px;
  }
  &__button-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__checkbox {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    &>use {
      fill: none;
    }
  }
  &__list>li {
    font-size: 16px;
    margin-bottom: 20px;
  }
  &-close-btn {
    width: 18px;
    height: 18px;
  }
  &-close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

#filter-section {
  transition: all 10s ease-out;
  opacity: 1;
}

.filter__cb {
  position: absolute;
  opacity: 0;
}

.filter__cb:checked ~ .filter__checkbox>use {
  fill: #122947;
}