<footer>
  <nav class="container">
      <div class="header__wrapper__logo-wrap"></div>
      <div class="header__wrapper__menu-wrap">
          <ul class="header__menu">
              <li class="header__menu__list-item">Каталог</li>
              <li class="header__menu__list-item">О нас</li>
              <li class="header__menu__list-item">Магазины</li>
              <li class="header__menu__list-item">Контакты</li>
          </ul>
      </div>
      <div class="socials"></div>
  </nav>
  <hr>
  <div class="container footer__lower-wrap">
      <div class="footer__lower-left">
          <span>Maroon</span>
          <span>(C)</span>
          <span>2020 Все права защищены</span>
      </div>
      <div class="footer__lower-right">
          <a href="#">Политика конфиденциальности</a>
      </div>
  </div>
</footer>