<footer>
  <div class="container">
    @@include('blocks/logo.html')
      <nav class="header__wrapper__menu-wrap">
          <ul class="nav-list">
            @@include('blocks/menu-list-item.html', {
                "list-item": "Каталог",
            })
            @@include('blocks/menu-list-item.html', {
                "list-item": "О нас",
            })
            @@include('blocks/menu-list-item.html', {
                "list-item": "Магазины",
            })
            @@include('blocks/menu-list-item.html', {
                "list-item": "Контакты",
            })
          </ul>
      </nav>
      <div class="socials"></div>
  </div>
  <hr>
  <div class="container footer__lower-wrap">
      <div class="footer__lower-left">
          <span>Maroon</span>
          <span>(C)</span>
          <span>2020 Все права защищены</span>
      </div>
      <div class="footer__lower-right">
          <a href="#">Политика конфиденциальности</a>
      </div>
  </div>
</footer>