<header class="header">
    <div class="header__wrap container">
        <a href="/">
            @@include('blocks/logo.html')
        </a>
            <ul class="nav-list">
                @@include('blocks/menu-list-item.html', {
                    "list-item": "Каталог",
                    "href": "/catalog.html",
                })
                @@include('blocks/menu-list-item.html', {
                    "list-item": "О нас",
                })
                @@include('blocks/menu-list-item.html', {
                    "list-item": "Контакты",
                })
                <li>
                    <div class="svg-wrap">
                        <button type="button" class="header__btn">
                            <svg class="header__svg header__svg--account">
                                <use xlink:href="./img/icons/sprite.svg#account"></use>
                            </svg>
                        </button>
                        <button type="button" class="header__btn">
                            <svg class="header__svg header__svg--cart">
                                <use xlink:href="./img/icons/sprite.svg#cart"></use>
                            </svg>
                        </button>
                    </div>
                </li>
            </ul>
    </div>
</header>