<section class="recent container">
    <h2>@@h2</h2>
    <div class="recent-swiper swiper">
        <div class="swiper-wrapper">
            <div class="recent-swiper__slide swiper-slide">
                @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-1.jpg",
                    "alt": "High",
                    "name": "High",
                    "type": "крем для лица",
                    "price": "990 ₽",
                    "volume": "50ml",
                  })
                  @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-2.jpg",
                    "alt": "Rest",
                    "name": "Rest",
                    "type": "минеральная пудра",
                    "price": "690 ₽",
                    "volume": "20g",
                  })
                  @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-3.jpg",
                    "alt": "Rose",
                    "name": "Rose",
                    "type": "крем для лица",
                    "price": "890 ₽",
                    "volume": "50ml",
                  })
                  @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-4.jpg",
                    "alt": "Milk",
                    "name": "Milk",
                    "type": "масло для тела",
                    "price": "790 ₽",
                    "volume": "150ml",
                  })
            </div>
            <div class="recent-swiper__slide swiper-slide">
                @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-5.jpg",
                    "alt": "Paradise",
                    "name": "Paradise",
                    "type": "минеральная пудра",
                    "price": "590 ₽",
                    "volume": "15g",
                  })
                  @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-6.jpg",
                    "alt": "Sun",
                    "name": "Sun",
                    "type": "бомбочка для ванны",
                    "price": "90 ₽",
                    "volume": "20g",
                  })
                  @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-7.jpg",
                    "alt": "Violet",
                    "name": "Violeyt",
                    "type": "крем для лица",
                    "price": "890 ₽",
                    "volume": "50ml",
                  })
                  @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-8.jpg",
                    "alt": "Clean",
                    "name": "Clean",
                    "type": "маска для лица",
                    "price": "490 ₽",
                    "volume": "100g",
                  })
            </div>
            <div class="recent-swiper__slide swiper-slide">
                @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-9.jpg",
                    "alt": "Coconut",
                    "name": "Coconut",
                    "type": "масло для тела",
                    "price": "990 ₽",
                    "volume": "300ml",
                  })
                  @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-10.jpg",
                    "alt": "Lavender",
                    "name": "Lavender",
                    "type": "мыло ручной работы",
                    "price": "290 ₽",
                    "volume": "50g",
                  })
                  @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-11.jpg",
                    "alt": "Lotos",
                    "name": "Lotos",
                    "type": "маска для лица",
                    "price": "890 ₽",
                    "volume": "50ml",
                  })
                  @@include('blocks/card.html', {
                    "src": "/img/images/catalog/catalog-12.jpg",
                    "alt": "Earth",
                    "name": "Earth",
                    "type": "бомбочка для ванны",
                    "price": "90 ₽",
                    "volume": "20g",
                  })
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <!-- <button class="swiper-button-next"></button>
        <button class="swiper-button-prev"></button> -->
        <div class="recent-swiper__arrow">
            <button type="button" class="recent-slider-btn-p bestsellers__slider-button">
              <svg class="arrow arrow--left">
                <use xlink:href="./img/icons/sprite.svg#arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="recent-slider-btn-n bestsellers__slider-button">
              <svg class="arrow arrow--right">
                <use xlink:href="./img/icons/sprite.svg#arrow-right"></use>
              </svg>
            </button>
        </div>
    </div>
</section>