<section class="subscribe-section container">
    <div class="subscribe-section__img-wrap">
      <div class="grid-box grid-box--one">
        <img src="/img/images/grid1.jpg" alt="">
      </div>
      <div class="grid-box grid-box--two">
        <img src="/img/images/grid2.jpg" alt="">
      </div>
      <div class="grid-box grid-box--three">
        <img src="/img/images/grid3.jpg" alt="">
      </div>
      <div class="grid-box grid-box--four">
        <img src="/img/images/grid4.jpg" alt="">
      </div>
      <div class="grid-box grid-box--five">
        <img src="/img/images/grid5.jpg" alt="">
      </div>
      <div class="grid-box grid-box--six">
        <img src="/img/images/grid6.jpg" alt="">
      </div>
    </div>
    <div class="subscribe-section__text-wrap">
      <h2>Присоединяйтесь к нам</h2>
      <p>Подпишитесь на наш аккаунт @marooncare и узнавайте о новиках и акциях первыми</p>
      <button type="button" class="btn">Подписаться</button>
    </div>
  </section>